/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

/* Define CSS variables for fonts */
:root {
    --heading-font: 'Source Sans Pro', sans-serif;
    --body-font: 'Source Sans Pro', sans-serif;
    --nav-font: 'Source Sans Pro', sans-serif;
    --mono-font: 'Roboto Mono', monospace;
}

.navbar-brand {
    font-size: 1.68em;
    font-weight: 350;
}

.navbar {
    font-weight: 350;
}

.resume-biography {
    gap: 3rem; /* Adjust the gap between flex items */
    width: calc(100% + 40px); /* Increase the width of the box */
}

/* Adjust the positioning of the avatar and icons */
.avatar-wrapper {
    margin-top: -20px; /* Adjust the top margin as needed */
    margin-left: -100px; /* Adjust the left margin as needed */
}

.avatar {
    width: 100%; /* Make the avatar image responsive */
    height: auto; /* Automatically adjust the height while maintaining the aspect ratio */
}

.network-icon {
    margin-top: 80px; /* Adjust the top margin as needed */
    margin-left: -20px; /* Adjust the left margin as needed */
    font-size: 40px; /* Increase the size of the network icons */
}

/* Adjust the positioning of the bio, interests, and education */
.flex-auto {
    margin-top: -40px; /* Adjust the top margin as needed */
    margin-left: 20px; /* Adjust the left margin as needed */
    width: calc(100% + 40px); /* Increase the width of the box */
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .avatar-wrapper {
        /* Adjust the avatar position for smaller screens */
        margin-top: -10px;
        margin-left: -50px;
    }

    .network-icon {
        /* Adjust the icons position for smaller screens */
        margin-top: 60px;
        margin-left: -10px;
    }

    .flex-auto {
        /* Adjust the bio, interests, and education position for smaller screens */
        margin-top: -20px;
        margin-left: 10px;
        width: calc(100% + 20px); /* Adjust the width for smaller screens */
    }
}

/* Apply CSS variables */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

body {
    font-family: var(--body-font);
}

nav {
    font-family: var(--nav-font);
    font-size: 1.1em;
}

code, pre {
    font-family: var(--mono-font);
}
